$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import '../../vendors/include-media';

@import '../../base/functions';
@import '../../base/variables';
@import '../../base/mixins';
@import '../../base/helpers';



#footer {
  border-top: 1px solid $gray;
  background-color: $white;
	.top-footer {
		padding: 15px 0;
		border-bottom: 1px solid $gray;
		@include media(">=desktop") {
			padding: 36px 0 54px;
			display: flex;
			justify-content: space-between;
		}
	}
	.footer-nav {
		margin-bottom: 25px;
		@include media(">=desktop") {
			margin-bottom: 0;
		}
		> ul {
			display: flex;
			li {
				margin-right: 25px;
				@include media(">=desktop") {
					margin-right: 140px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	ul {
		@extend %listreset;
		h5 {
			margin-bottom: 35px;
		}
		li {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			font-size: 18px;
			color: $text-black;
			&:hover {
				color: $moderate-red;
			}
		}
	}
	.language-and-currency {
		select {
			border-radius: 3px;
			padding: 22px 23px;
		}
		.select {
			min-width: 210px;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.bottom-footer {
		font-size: 16px;
		padding: 16px 0 18px;
	}
}