.list-hotel-box .list-hotel {
  background: #fff;
  border-radius: 4px;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

.list-hotel-box .list-image {
  width: 29%;
  float: left;
  min-height: 190px;
  background-color: #f0f1f3;
}

.list-hotel-box .list-content {
  float: left;
  width: 49%;
  padding: 5px 10px 0 10px;
}

.list-hotel-box .list-content h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 22px;
}

.list-hotel-box .list-price {
  width: 22%;
  float: left;
  background: #f0f1f3;
  min-height: 190px;
  text-align: center;
}

.list-hotel-box .left-carousel {
  bottom: 0;
  position: absolute;
  display: block;
  background: url(../images/left.png) no-repeat;
  width: 31px;
  height: 29px;
}

.list-hotel-box .right-carousel {
  bottom: 0;
  position: absolute;
  background: url(../images/right.png) no-repeat;
  width: 31px;
  height: 29px;
  right: 0;
}

.list-hotel-box .list-hotel-rating {
  color: #898c8d;
}

.list-hotel-box .list-hotel-rating div {
  float: left;
  margin-right: 15px;
}

.list-hotel-box .empty-star {
  background: url(../images/empty-star.png) center no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 2px;
}

.list-hotel-box .full-star {
  background: url(../images/full-star.png) center no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-top: 2px;
}

.list-hotel-box .list-hotel-text {
  font-size: 12px;
  font-weight: 300;
  color: #54575a;
  margin-top: 0;
}

.list-hotel-box .list-hotel-price-bgr {
  padding-top: 3px;
  background: url(../images/price-bgr.png) no-repeat;
  text-align: center;
  width: 110px;
  height: 29px;
  margin: 15px auto 5px auto;
  color: #fff;
  font-size: 13px;
}

.list-hotel-box .list-hotel-price-curency {
  text-align: center;
  font-size: 28px;
  min-height: 40px;
}

.list-hotel-box .list-hotel-price-loc {
  text-align: center;
  font-size: 18px;
}

.list-hotel-box .list-hotel-price-button {
  padding: 10px 25px;
  margin: 20px auto 0 auto;
}

.list-hotel-comfort {
  margin-top: 0;
}

.list-hotel-comfort div {
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  border: 1px solid #e1e2e6;
  margin-right: 5px;
}

.list-hotel-comfort .icon-hotel-4 {
  background: url(../images/icon-hotel-4.png) center no-repeat;
}

.list-hotel-comfort .icon-hotel-3 {
  background: url(../images/icon-hotel-3.png) center no-repeat;
}

.list-hotel-comfort .icon-hotel-2 {
  background: url(../images/icon-hotel-2.png) center no-repeat;
}

.list-hotel-comfort .icon-hotel-1 {
  background: url(../images/icon-hotel-1.png) center no-repeat;
}

.my-listing-box {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-color: white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.my-listing-box .my-listing-image-box {
  width: 95px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  display: flex;
  border-radius: 3px;
}

.my-listing-box .my-listing-image-box img {
  width: 100%;
  margin: 70px 0 35px 0;
}

.my-listing-box .my-listing-image-box.not {
  background-color: #CCCCCC;
}

.my-listing-box .listing-name a {
  font-size: 24px;
  font-weight: bold;
}
/* .progress-box {
  text-align: center;
  margin: 10px 0;
  display: block;
} */
/* .progress-box .progress-number p {
  border: 2px solid #d97a61;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-box .progress-number .completed {
  background-color: #d97a61;
  color: white;
  font-size: 12px;
} */
.progress-box .progress-name {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.progress-box .progress-steps {
  text-align: left;
}

.progress-box .progress-continue {
  text-align: left;
  margin-bottom: 10px;
}

.progress-box .progress-continue a {
  background-color: #A2C5BF;
  padding: 6px 12px;
  font-size: 16px;
}

.progress-image img {
  width: 90%;
}