label {
  font-weight: 200 !important;
}
.dropdown-menu>li>a {
  font-weight: 200;
}
.checkbox {
  margin-top: 0;
}
.has-feedback .form-control {
  padding-right: 25px;
}
.input-group-addon {
  font-size: 18px;
}
a.dropdown-toggle {
  cursor: pointer;
}
.navbar {
  min-height: 70px;
}
.checkbox label {
  user-select: none;
}
.navbar-brand {
  height: auto;
}
.navbar-brand {
  padding: 15px 20px;
  width: 180px;
  height: 100%;
}
/* .form-control {
  background-image: auto;
} */
.pac-logo:after {
  background: none;
  height: auto;
  padding: 0;
}
.Select-menu-outer {
  z-index: 999 !important;
}
@media screen and (min-width: 768px) {
  .navbar-collapse.collapse {
    display: flex!important;
    align-items: center;
    height: 70px!important;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    align-items: center;
    display: flex;
  }
  .navbar-brand {
    flex-basis: 87%;
  }
}

/* TODO: This block is just for migration purposes. Should be deleted... */
#search-bar [class^="icon-"], [class*=" icon-"] {
  font-family: 'FuturaStd-Light', sans-serif !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}
.container>h2,
.hotel-content>h2 {
  padding-top: 30px;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
  color: #555 !important;
  /* padding-left: 28px !important; */
  top: 4px !important;
  /* font-size: 14px !important; */
}
.form-group {
  margin-bottom: 0 !important;
}
.Select-clear {
  display: none !important;
}
