

@media (max-width: 493px) {
    .home_page h1.home_title {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .home_page h2.home_title {
        font-size: 22px;
    }
    #main-nav #second-nav .navbar-nav a {
        padding-bottom: 2px;
    }
    #profile-nav {
      display: none;
    }
}

@media only screen and (max-width: 667px) {
    #room-book .hotel-info {
        margin: 0;
    }

    #room-book .title-select,
    #room-book .guest-name,
    #room-book label,
    #room-book .child-age {
        width: 100%;
        margin-bottom: 5px;
    }

    #room-book .btn-book {
        width: 100%;
        margin: 0 auto 20px auto;
    }

    .list-hotel-box .list-image,
    .list-hotel-box .list-content,
    .list-hotel-box .list-price {
        float: none;
        width: 100%;
    }

    .list-hotel-box .hotels-item {
        width: 100%;
    }


    .list-hotel-box .list-price {
        padding-top: 1px;
    }

    #search-bar {
        padding: 10px;
    }

    #search-bar .btn {
        margin-top: 10px;
    }

    .list-hotel-box .list-hotel-price-button {
        width: 90%;
    }

    #main-nav #search-bar .form-group {
        margin-bottom: 10px;
    }

    .hotel-content .room-group {
        flex-direction: column;
    }

    .hotel-content .room-group .btn {
        margin: 10px auto;
        width: 100%;
    }

    .hotel-content .room-group .room {
        text-align: center;
    }

    .hotel-info {
        text-align: center;
    }

    #attached-footer {
        display: none;
    }
    
    .list-hotel-box,
    .filter-box {
        max-width: 380px;
        margin: 0 auto;
    }

    .list-hotel-box .list-price {
        min-height: 0;
        padding: 5px;
    }

    .list-hotel-box .list-hotel-price-curency {
      min-height: 10px;
    }

    .navbar-brand img {
      height: 40px;
    }

  #second-nav {
    height: 33px;
    margin-top: 50px;
  }
  
  #second-nav ul {
    display: flex;
  }
  
  #second-nav a {
      font-size: 14px;
      color: #000;
  }
  
  #second-nav a:hover,
  #second-nav li a.active {
      font-size: 14px;
  }
  
  #second-nav li>a {
      padding-top: 20px;
      padding-bottom: 10px;
  }

  .source-data .info {
    /* display: none !important; */
  }
}

@media (max-width: 768px) {
    #search-bar div.container {
        max-width: 690px;
        margin-right: 0;
    }

    .col-sm-15 {
        width: 20%;
        float: left;
    }

    .home_page h1.home_title {
        margin-top: 35px;
    }

    .navbar-brand img {
      height: 40px;
    }
}

@media (max-width: 992px) {
    footer .copyright {
        margin-bottom: 135px;
    }

    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}