/*++++++++++++++GLOBAL CLASSES++++++++++++++*/

body {
	font-weight: 300;
}

#wrapper {
	overflow: hidden;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

//default button
.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background: $moderate-red;
	color: $white;
	border-radius: 3px;
	padding: 10px;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: -0.03em;
	@include media(">=desktop") {
		padding: 17px;
		font-size: 18px;
		font-weight: 400;
	}
	&:hover {
		background: $light-cyan;
	}
	&-dark {
		font-size: 12px;
		padding: 10px;
		letter-spacing: 0.03em;
		background: $dark-blue;
	}
}

.btn-block {
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	background: $white;
	box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.1);
	@include media(">=desktop") {
		display: none;
	}
	a {
		font-size: 18px;
		color: $white;
		background: $moderate-red;
		width: 100%;
		display: block;
		padding: 13px;
		@include media(">=desktop") {
			color: $moderate-red;
			background: none;
			font-weight: 400;
		}
		&:hover {
			color: $light-cyan;
		}
	}
}

//default select
select {
	border: 1px solid $gray;
	border-radius: 3px;
	background: $white;
	width: 100%;
	height: 100%;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
.select {
	position: relative;
	&:after {
		position: absolute;
		content: "\e900";
		font-family: 'icomoon' !important;
		padding: 0 8px;
		font-size: 3px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		text-align: center;
		pointer-events: none;
		box-sizing: border-box;
		@include media(">=desktop") {
			right: 19px;
			font-size: 8px;
		}
	}
}


#main {
	background: $light-gray;
	> .container {
			display: flex;
			flex-direction: column;
			align-items: center;
		@include media(">=desktop") {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	.tab-content {
		@include media(">=desktop") {
			padding-bottom: 25px;
		}
		.tab {
			margin-bottom: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include media(">=desktop") {
				padding-bottom: 0;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
	}
}

.content {
	width: 100%;
	padding-bottom: 25px;
	@include media(">=desktop") {
		width: 72%;
		padding-bottom: 0;
	}
	&:only-child{
		width:100%;
	}
}


//landing-page
.get-started {
	text-align: center;
	font-size: 16px;
	@include media(">=desktop") {
		font-size: 32px;
	}
	h2 {
		font-family: $base-font-cursive;
	}
	.btn {
		min-width: 170px;
		margin-bottom: 25px;
		@include media(">=desktop") {
			min-width: 250px;
			margin-bottom: 56px;
		}
	}
}


.btn-close {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 2px solid $black;
	.line {
		width: 9px;
		height: 2px;
		background-color: $black;
		display: block;
		margin: 1px auto;
		border-radius: 3px;
		transition: all .3s ease-in-out;
		&:nth-child(2){
			width: 15px;
		}
		&:nth-child(1) {
			transform: translateY(4px) rotate(45deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			transform: translateY(-4px) rotate(-45deg);
		}
	}
}

.clear{
	font-size: 12px;
	a{
		color: $text-black;
	}
}

.header-dropdown{
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $white;
	margin-bottom: 35px;
	border-bottom: 1px solid #ccc;
	@include media(">=desktop") {
		display: none;
	}
}

/*++++++++++++++HELPER CLASSES++++++++++++++*/

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include media(">=desktop") {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.d-none {
	display: none !important;
}

.sm-none {
  @include media("<desktop") {
    display: none;
  }
}

.mb-none {
	display: none !important;
	@include media(">=desktop") {
		display: inline-block !important;
		vertical-align: middle;
	}
}

.lg-none {
	display: block !important;
	@include media(">=desktop") {
		display: none !important;
	}
}