.carousel-nav ul, .main-carousel div .sharing {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.carousel-holder {
  text-align: center;
  margin-bottom: 25px; }
  @media (min-width: 1024px) {
    .carousel-holder {
      margin-bottom: 67px; } }
  .carousel-holder .container {
    max-width: 1600px; }
  .carousel-holder h3 {
    margin-bottom: 8px; }
  .carousel-holder .carousel {
    padding-top: 22px; }
    @media (min-width: 1024px) {
      .carousel-holder .carousel {
        border-top: 1px solid #cccccc; } }
  .carousel-holder .subtitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px; }
    @media (min-width: 1024px) {
      .carousel-holder .subtitle {
        font-size: 18px;
        margin-bottom: 13px; } }
  .carousel-holder .no-button {
    position: relative; }
    .carousel-holder .no-button .carousel-wrap {
      margin-bottom: 0; }
    .carousel-holder .no-button .btn {
      display: none; }
    .carousel-holder .no-button .carousel-nav .icon-arrow-right,
    .carousel-holder .no-button .carousel-nav .icon-arrow-left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #fff; }
      .carousel-holder .no-button .carousel-nav .icon-arrow-right:hover,
      .carousel-holder .no-button .carousel-nav .icon-arrow-left:hover {
        background: #a2c5bf; }
    .carousel-holder .no-button .carousel-nav .icon-arrow-right {
      right: 0; }
      @media (min-width: 1920px) {
        .carousel-holder .no-button .carousel-nav .icon-arrow-right {
          right: -40px; } }
    .carousel-holder .no-button .carousel-nav .icon-arrow-left {
      left: 0; }
      @media (min-width: 1920px) {
        .carousel-holder .no-button .carousel-nav .icon-arrow-left {
          left: -40px; } }

.carousel-wrap {
  margin-bottom: 0px; }
  @media (min-width: 1024px) {
    .carousel-wrap {
      margin-bottom: 50px; } }
  .carousel-wrap.flex {
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .carousel-wrap.flex {
        justify-content: flex-start; } }
    @media (min-width: 1440px) {
      .carousel-wrap.flex {
        flex-wrap: nowrap;
        justify-content: space-between; } }
    .carousel-wrap.flex .hotel-card,
    .carousel-wrap.flex .city-card {
      margin-bottom: 15px;
      width: 48%; }
      @media (min-width: 1024px) {
        .carousel-wrap.flex .hotel-card,
        .carousel-wrap.flex .city-card {
          width: auto;
          margin-right: 15px; }
          .carousel-wrap.flex .hotel-card:last-child,
          .carousel-wrap.flex .city-card:last-child {
            margin-right: 0; } }
      @media (min-width: 1440px) {
        .carousel-wrap.flex .hotel-card,
        .carousel-wrap.flex .city-card {
          margin-right: 0;
          margin-bottom: 0; } }

.carousel-nav ul {
  text-align: center; }
  .carousel-nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
    width: 100%; }
    @media (min-width: 1024px) {
      .carousel-nav ul li {
        width: auto; } }
    .carousel-nav ul li:last-child {
      margin-right: 0; }
  .carousel-nav ul button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    height: 47px;
    min-width: 100%; }
    @media (min-width: 1024px) {
      .carousel-nav ul button {
        min-width: 80px;
        height: 40px; } }
  .carousel-nav ul .btn {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
    @media (min-width: 768px) {
      .carousel-nav ul .btn {
        min-width: 300px;
        margin: 0 auto; } }
    @media (min-width: 1024px) {
      .carousel-nav ul .btn {
        min-width: 120px; } }
  .carousel-nav ul .icon-arrow-right,
  .carousel-nav ul .icon-arrow-left {
    border-radius: 3px;
    border: 1px solid #cccccc;
    background: transparent; }
    .carousel-nav ul .icon-arrow-right:hover,
    .carousel-nav ul .icon-arrow-left:hover {
      background: #a2c5bf; }

.main-carousel {
  display: flex;
  position: relative; }
  .main-carousel .carousel-nav {
    position: absolute;
    bottom: 30px;
    left: 60%;
    display: flex; }
    @media (min-width: 480px) {
      .main-carousel .carousel-nav {
        left: 75%; } }
    @media (min-width: 1024px) {
      .main-carousel .carousel-nav {
        left: 58%; } }
    .main-carousel .carousel-nav:before {
      display: none; }
    .main-carousel .carousel-nav button {
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      background: #fff;
      border-radius: 100%;
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      width: 50px;
      height: 50px; }
      .main-carousel .carousel-nav button:hover {
        background: #a2c5bf;
        color: #fff; }
      .main-carousel .carousel-nav button:first-child {
        margin-right: 16px; }
  .main-carousel div {
    position: relative;
    flex: 0 1 auto; }
    @media (min-width: 1024px) {
      .main-carousel div {
        margin-right: 10px; } }
    .main-carousel div .btn {
      position: absolute;
      bottom: 20px;
      right: 20px; }
      @media (min-width: 1024px) {
        .main-carousel div .btn {
          display: none; } }
    .main-carousel div .sharing {
      position: absolute;
      top: 20px;
      right: 10px;
      z-index: 2; }
      .main-carousel div .sharing a {
        color: #fff;
        font-size: 25px; }
      .main-carousel div .sharing li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px; }
      @media (min-width: 1024px) {
        .main-carousel div .sharing {
          display: none; } }
    .main-carousel div:last-child {
      margin-right: 0; }
    .main-carousel div:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #1f2427;
      opacity: 0.4; }
    .main-carousel div.current {
      flex: 1 1 auto;
      overflow: hidden;
      height: 290px; }
      @media (min-width: 480px) {
        .main-carousel div.current {
          height: 485px; } }
      @media (min-width: 1024px) {
        .main-carousel div.current {
          height: auto; } }
      .main-carousel div.current img {
        height: 100%;
        max-width: inherit; }
        @media (min-width: 768px) {
          .main-carousel div.current img {
            min-width: 100%;
            height: auto; } }
        @media (min-width: 1024px) {
          .main-carousel div.current img {
            height: auto;
            max-width: 100%; } }
      .main-carousel div.current:before {
        display: none; }

.hotel-details-carousel .slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100%; }
  @media (min-width: 480px) {
    .hotel-details-carousel .slide {
      padding-bottom: 60%; } }
  @media (min-width: 1024px) {
    .hotel-details-carousel .slide {
      margin-right: 10px; } }

.hotel-details-carousel .slick-arrow {
  display: none !important; }
