$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import '../vendors/include-media';

@import '../base/functions';
@import '../base/variables';
@import '../base/mixins';
@import '../base/helpers';


.carousel-holder {
	text-align: center;
	margin-bottom: 25px;
	@include media(">=desktop") {
		margin-bottom: 67px;
	}
	.container {
		max-width: 1600px;
	}
	h3 {
		margin-bottom: 8px;
	}
	.carousel {
		padding-top: 22px;
		@include media(">=desktop") {
			border-top: 1px solid $gray;
		}
	}
	.subtitle {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		@include media(">=desktop") {
			font-size: 18px;
			margin-bottom: 13px;
		}
	}
	.no-button {
		position: relative;
		.carousel-wrap {
			margin-bottom: 0;
		}
		.btn {
			display: none;
		}
		.carousel-nav {
			.icon-arrow-right,
			.icon-arrow-left {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: $white;
				&:hover {
					background: $light-cyan;
				}
			}
			.icon-arrow-right {
				right: 0;
				@include media(">=1920px") {
					right: -40px;
				}
			}
			.icon-arrow-left {
				left: 0;
				@include media(">=1920px") {
					left: -40px;
				}
			}
		}
	}
}

.carousel-wrap {
	margin-bottom: 0px;
	@include media(">=desktop") {
		margin-bottom: 50px;
	}
	&.flex {
		flex-wrap: wrap;
		justify-content: space-between;
		@include media(">=desktop") {
			justify-content: flex-start;
		}
		@include media(">=1440px") {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.hotel-card,
		.city-card {
			margin-bottom: 15px;
			width: 48%;
			@include media(">=desktop") {
				width: auto;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
			@include media(">=1440px") {
				margin-right: 0;
				margin-bottom: 0;
			}
		}
	}
}

.carousel-nav {
	ul {
		@extend %listreset;
		text-align: center;
		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 11px;
			width: 100%;
			@include media(">=desktop") {
				width: auto
			}
			&:last-child {
				margin-right: 0;
			}
		}
		button {
			@include animate(color background);
			height: 47px;
			min-width: 100%;
			@include media(">=desktop") {
				min-width: 80px;
				height: 40px;
			}
		}
		.btn {
			min-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			@include media(">=tablet") {
				min-width: 300px;
				margin: 0 auto;
			}
			@include media(">=desktop") {
				min-width: 120px;
			}
		}
		.icon-arrow-right,
		.icon-arrow-left {
			border-radius: 3px;
			border: 1px solid $gray;
			background: transparent;
			&:hover {
				background: $light-cyan;
			}
		}
	}
}

.main-carousel {
	display: flex;
	position: relative;
	.carousel-nav {
		position: absolute;
		bottom: 30px;
		left: 60%;
    display: flex;
    // display: none;
    @include media(">=phone") {
			left: 75%;
		}
		@include media(">=desktop") {
			left: 58%;
		}
		&:before {
			display: none;
		}
		button {
			@include animate(background color);
			background: $white;
      border-radius: 100%;
			padding: 0;
			width: 30px;
			height: 30px;
			font-size: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			// @include media(">=desktop") {
				font-size: 16px;
				width: 50px;
				height: 50px;
			// }
			&:hover {
				background: $light-cyan;
				color: $white;
			}
			&:first-child {
				margin-right: 16px;
			}
		}
	}
	div {
		position: relative;
		flex: 0 1 auto;
		@include media(">=desktop") {
			margin-right: 10px;
		}
		.btn{
			position: absolute;
			bottom: 20px;
			right: 20px;
			@include media(">=desktop") {
				display: none;
			}
		}
		.sharing{
			@extend %listreset;
			position: absolute;
			top: 20px;
			right: 10px;
			z-index: 2;
			a{
				color: $white;
				font-size: 25px;
			}
			li{
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			@include media(">=desktop") {
				display: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $text-black;
			opacity: 0.4;
		}
		&.current {
			flex: 1 1 auto;
			overflow: hidden;
			height: 290px;
			@include media(">=phone") {
				height:  485px;
			}
			@include media(">=desktop") {
				height: auto;
			}
			img{
				height: 100%;
				max-width: inherit;
				@include media(">=tablet") {
					min-width: 100%;
					height: auto
				}
				@include media(">=desktop") {
					height: auto;
					max-width: 100%;
				}
			}
			&:before {
				display: none;
			}
		}
	}
}

.hotel-details-carousel {
  .slide {
    // height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100%;
    @include media(">=phone") {
      padding-bottom: 60%;
    }
    @include media(">=desktop") {
      margin-right: 10px;
    }
  }
  .slick-arrow {
    display: none !important;
  }
}


