$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import '../vendors/include-media';

@import '../base/functions';
@import '../base/variables';
@import '../base/mixins';
@import '../base/helpers';

@import '../components/star-rating-component';



// inactive star
.fa-star-o:before {
		content: "\e918";
		color: $gray;
		font-family: 'icomoon' !important;
}
// active star
.fa-star:before {
		content: "\e918";
		color: $light-cyan;
		font-family: 'icomoon' !important;
}

.result {
	background: $white;
	border-radius: 3px;
	overflow: hidden;
	padding: 5px;
	font-size: 12px;
	color: $dark-gray;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include media(">=tablet") {
		flex-direction: row;
  }
  @include media(">=desktop") {
    max-height: 200px;
  }
	> div {
		width: 100%;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		@include media(">=tablet") {
			width: 30%;
			margin-bottom: 0;
		}
		@include media(">=widescreen") {
			width: auto;
		}
	}
	&-images {
		position: relative;
    height: 190px;
		display: flex;
		@include media(">=desktop") {
			margin-right: 25px;
      width: 240px !important;
    }
		button {
			@include animate(opacity background);
			position: absolute;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			font-size: 10px;
			width: 31px;
			height: 31px;
			background: rgba(216, 122, 97, 0.65);
			&:hover {
				background: rgba(216, 122, 97, 1);
			}
			&.prev {
				left: 0;
				&:before {
					transform: rotate(90deg);
				}
			}
			&.next {
				right: 0;
				&:before {
					transform: rotate(-90deg);
				}
			}
		}
		div {
			width: 100%;
			height: 100%;
			background: {
				size: cover;
				repeat: no-repeat;
				position: center;
			}
			@include media(">=widescreen") {
				min-width: 240px;
				min-height: 190px;
			}
		}
		.new {
			position: absolute;
			display: inline-block;
			vertical-align: middle;
			top: 10px;
			left: 10px;
			color: $white;
			background: #223843;
			padding: 7px 15px;
			border-radius: 2px;
			font-size: 14px;
    }
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
        width: 31px;
    }
	}
	h4 {
		letter-spacing: -0.04em;
		color: $text-black;
		margin-bottom: 3px;
		font-weight: 400;
	}
	.rating {
		color: #898c8d;
		margin-bottom: 10px;
		@include media(">=desktop") {
			display: flex;
		}
		.rating-holder {
			@include media(">=desktop") {
				margin: 0 7px;
			}
		}
	}
	p {
		line-height: 1.5;
		letter-spacing: 0.04em;
		margin-bottom: 10px;
		@include media(">=desktop") {
			margin-bottom: 29px;
		}
	}
	&-features {
		ul {
			@extend %listreset;
			li {
				display: inline-block;
				margin-right: 1px;
				&:last-child {
					margin-right: 0;
				}
				span {
					display: inline-block;
					vertical-align: middle;
					width: 36px;
					height: 33px;
					border: 1px solid $gray;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					color: #9c9ea1;
				}
			}
		}
	}
	&-content {
    overflow: hidden;
		@include media(">=desktop") {
			padding-top: 11px;
      margin-right: 33px;
      min-width: 367px;
		}
	}
	&-pricing {
		background: $light-gray;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px;
		@include media(">=desktop") {
			min-width: 195px;
		}
		.price-for {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			color: $white;
			background: $gray;
			padding: 5px 13px;
			margin-bottom: 1px;
			letter-spacing: 0.03em;
			&:after {
				position: absolute;
				content: '';
				top: 100%;
				right: 10px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 5.5px 0 5.5px;
				border-color: $gray transparent transparent transparent;
			}
		}
		.price {
			font-size: 32px;
			margin-bottom: 5px;
		}
		span {
			font-size: 16px;
			color: $text-black;
			font-weight: 400;
			margin-bottom: 21px;
		}
	}
	.btn {
		padding: 12px;
		@include media(">=desktop") {
			min-width: 160px;
		}
	}
	&-homes-features {
		margin-bottom: 25px;
		ul {
			@extend %listreset;
			li {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				font-size: 14px;
				&:after {
					content: '•';
					display: inline-block;
					vertical-align: middle;
					margin: 0 0 0 3px;
					font-size: 17px;
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.results-holder {
	margin-bottom: 50px;
	&.homes {
		.result {
			p {
				margin: 0;
			}
		}
	}
}