.tabset {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.info {
  min-height: 50px;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px; }
  @media (min-width: 1024px) {
    .info {
      padding-top: 0;
      flex-direction: row;
      justify-content: space-between; } }
  .info-details {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 1024px) {
      .info-details {
        flex-direction: row; } }
    .info-details .rate {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 15px; }
      @media (min-width: 1024px) {
        .info-details .rate {
          margin-right: 19px;
          margin-bottom: 0; } }
  .info .cross-rate {
    font-size: 14px;
    text-transform: uppercase;
    color: #d87a61; }
    @media (min-width: 1024px) {
      .info .cross-rate {
        margin-right: 11px; } }
  .info .balance-info {
    display: flex; }
  .info .balance {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px; }
    @media (min-width: 1024px) {
      .info .balance {
        margin-bottom: 0; } }
    .info .balance .value {
      border: 1px dashed #cccccc;
      border-radius: 3px 0 0 3px;
      display: flex;
      align-items: center;
      padding: 8px 10px;
      font-size: 14px; }
      @media (min-width: 1024px) {
        .info .balance .value {
          min-width: 211px; } }
      .info .balance .value span:last-child {
        font-weight: bold; }
    .info .balance .icon-plus {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #213843;
      border-radius: 3px; }
      .info .balance .icon-plus:hover {
        opacity: 0.9; }
      @media (min-width: 1024px) {
        .info .balance .icon-plus {
          margin-right: 20px; } }
  .info .select {
    min-width: 80px;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .info .select {
        margin-bottom: 0; } }
    .info .select select {
      background: transparent;
      border: none; }

.tabset {
  text-align: left;
  padding-left: 15px; }
  .tabset li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px; }
    .tabset li:last-child {
      margin-right: 0; }
    .tabset li a.active:after {
      transform: translateY(0); }
  .tabset a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #1f2427;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
    overflow: hidden; }
    .tabset a:after {
      transition: transform 0.3s ease-in-out;
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background: #d87a61;
      transform: translateY(100%); }

.source-data {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .source-data {
      max-width: none; } }

.source-panel {
  background: #fff;
  padding: 4px 7px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .source-panel {
      flex-wrap: wrap;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .source-panel {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 35px; } }
  .source-panel .check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; }
    @media (min-width: 1024px) {
      .source-panel .check {
        padding: 0 6px 0 26px;
        border-right: 1px solid #cccccc; } }
  .source-panel .checkin {
    display: flex;
    align-items: center;
    color: #1f2427;
    margin-bottom: 10px; }
    @media (min-width: 1024px) {
      .source-panel .checkin {
        margin-bottom: 0; } }
    .source-panel .checkin div {
      min-width: 85px;
      text-align: left; }
      .source-panel .checkin div > span {
        display: block; }
    .source-panel .checkin time {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: -0.05em; }
    .source-panel .checkin .day-in {
      color: #a2c5bf; }
    .source-panel .checkin .day-out {
      color: #d87a61; }
  .source-panel .icon-calendar {
    margin-right: 5px;
    font-size: 20px; }
    @media (min-width: 768px) {
      .source-panel .icon-calendar {
        margin-right: 16px; } }
  .source-panel .icon-arrow-right {
    margin: 0 10px; }
    @media (min-width: 1024px) {
      .source-panel .icon-arrow-right {
        margin: 0 25px 0 14px; } }
  .source-panel-select {
    position: relative;
    min-width: 200px;
    margin-bottom: 10px; }
    @media (min-width: 1024px) {
      .source-panel-select {
        border-right: 1px solid #cccccc;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .source-panel-select {
        min-width: 307px; } }
    .source-panel-select select {
      font-size: 18px;
      width: 100%;
      height: 100%;
      border: none;
      padding: 5px 18px; }
    .source-panel-select:after {
      position: absolute;
      content: "\e900";
      font-family: 'icomoon' !important;
      padding: 0 8px;
      font-size: 7px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      text-align: center;
      pointer-events: none;
      box-sizing: border-box; }
    .source-panel-select.guests {
      position: relative;
      border-right: none; }
      @media (min-width: 1024px) {
        .source-panel-select.guests {
          min-width: 150px; } }
      @media (min-width: 1200px) {
        .source-panel-select.guests {
          min-width: 217px; } }
      .source-panel-select.guests:hover .fake-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); }
      .source-panel-select.guests .fake-dropdown {
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        background: #fff;
        padding: 25px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px 0px rgba(14, 23, 27, 0.1);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: translateY(50%);
        min-width: 290px;
        width: 100%; }
        @media (min-width: 1024px) {
          .source-panel-select.guests .fake-dropdown {
            right: auto;
            left: 0;
            min-width: 325px; } }
        @media (min-width: 1200px) {
          .source-panel-select.guests .fake-dropdown {
            min-width: 397px; } }
        .source-panel-select.guests .fake-dropdown ul {
          border-bottom: 1px solid #cccccc;
          margin-bottom: 25px;
          padding-bottom: 25px; }
          .source-panel-select.guests .fake-dropdown ul:last-of-type {
            border-bottom: none; }
          .source-panel-select.guests .fake-dropdown ul li span {
            font-weight: 400;
            font-size: 18px; }
        .source-panel-select.guests .fake-dropdown .input-wrap span {
          width: 34px;
          height: 34px;
          border-width: 2px;
          border-radius: 100%; }
        .source-panel-select.guests .fake-dropdown .apply {
          text-align: right; }
          .source-panel-select.guests .fake-dropdown .apply a {
            font-size: 18px;
            font-weight: 400;
            color: #d87a61; }
            .source-panel-select.guests .fake-dropdown .apply a:hover {
              color: #a2c5bf; }
  .source-panel .days-of-stay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 25px;
    min-width: 100px;
    margin-bottom: 10px; }
    @media (min-width: 1024px) {
      .source-panel .days-of-stay {
        margin-bottom: 0;
        border-right: 1px solid #cccccc; } }
    .source-panel .days-of-stay span {
      font-size: 12px; }
    .source-panel .days-of-stay .icon-moon {
      font-size: 18px;
      margin-bottom: 5px; }
  .source-panel .btn {
    min-width: 169px; }
