    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>LockChain</h3>
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Legal Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Hosting</h3>
            <ul>
                <li><a href="#">Why Host</a></li>
                <li><a href="#">Hospitality</a></li>
                <li><a href="#">Responsible Hosting</a></li>
                <li><a href="#">Community Center</a></li>
            </ul>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">

            <div class="dropdown select-language">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                        id="currency_currency">US Dollar</span> <span class="caret"></span></a>
                <ul class="navbar-dropdown dropdown-menu">
                    <li><a href="#" class="currency_selector" data-sign="$">USD</a></li>
                    <li><a href="#" class="currency_selector" data-sign="€">EUR</a></li>
                    <li><a href="#" class="currency_selector" data-sign="£">GBP</a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="copyright">Copyright 2017 LockChain | All rights reserved.</div>
</div>