$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import '../../vendors/include-media';

@import '../../base/functions';
@import '../../base/variables';
@import '../../base/mixins';
@import '../../base/helpers';

$padding-lg: 15px 30px;
$padding-sm: 15px 10px;

#airdrop-main {
  margin: 40px 0;

  h4 {
    padding-bottom: 10px; 
    font-weight: 400;
    border-bottom: 1px solid $gray;
  }

  .emphasized-text {
    font-weight: 400;
  }

  .balance-info {
    margin-bottom: 30px;

    .balance-row {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      position: relative;
      border: 1px solid $gray;
      border-radius: 3px;
      margin-bottom: 10px;

      @include media(">=tablet") {
        flex-direction: row;
      }
  
      &__label {
        padding: $padding-sm;

        @include media(">=phone") {
          padding: $padding-lg;
        }
        
        @include media(">=tablet") {
          flex: 0 0 270px;
          border-right: 1px solid $gray;
        }
      }
  
      &__content {
        flex-grow: 10;
        padding: $padding-sm;
        background: $white;

        @include media(">=phone") {
          padding: $padding-lg;
        }

        .referral-url {
          color: $moderate-red;
        }
      }

      .referral-url-copy {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 10px 10px;
        border-radius: 3px;
        color: $white;
        background: $light-cyan;

        // @include media(">=desktop") {
        //   right: 30px;
        // }
      }
    }
  }

  .airdrop-info {
    border: 1px solid $gray;
    border-radius: 3px;

    &__header {
      border-bottom: 1px solid $gray;
      padding: $padding-sm;
      font-weight: 400;

      @include media(">=phone") {
        padding: $padding-lg;
      }
    }

    &__content {
      background: $white;
      padding: 30px 15px;
      @include media(">=phone") {
        padding: 30px;
      }

      .airdrop-row {
        padding: 10px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .description {
          font-size: 1em;
          padding: 5px 0;

          .airdrop-row__heading {
            font-size: 1.2em;
            font-weight: 400;
          }

          .profile-name {
            font-weight: 400;
          }
  
          .step-check {
            width: 30px;
            height: 30px;
            display: inline-block;
            position: relative;
            background: $moderate-red;
            border-radius: 50%;
            margin-right: 10px;
            top: 6px;
          }
  
          .step-check.checked:before {
            font-size: 0.5em;
            padding: 5px;
            position: absolute;
            left: 6px;
            top: 6px;
            font-family: FontAwesome;
            color: $white;
            content: "\f00c";
          }
  
          .step-check.unchecked {
            opacity: 0.5;
          }
  
          .step-check.unchecked:before {
            font-size: 0.5em;
            padding: 5px;
            position: absolute;
            left: 7px;
            top: 6px;
            font-family: FontAwesome;
            color: $white;
            content: "\f00d";
          }
  
          .icon-arrow-right {
            font-size: 0.7em;
          }
  
          a {
            color: $moderate-red;
          }
        }

        .airdrop-profile-edit {
          padding-top: 10px;
          display: flex;
          flex-grow: 2;
          justify-content: space-between;

          @include media(">=tablet") {
            display: inline-flex;
            flex: 0 0 300px;
          }

          input {
            flex-grow: 2;
          }

          button {
            flex-grow: 1;
            font-size: 1em;
            padding: 5px 20px;
            margin-left: 10px;
          }
        }

        .email, .final {
          padding: 0;
          padding-bottom: 10px;
        }
      }
    }
  }
}